/* ------------------------------------ *\
  CONTENTS
\* ------------------------------------ */
/**
 * CONTENTS............You’re reading it!
 * ticketAdd.faces...............
 */


.calendar{
  border:solid thin #d1d1d1;
  margin:10px 0;
}

.calendar td{
  padding:4px;
  font-size: 1.05rem;
  margin: 0;
}

.calendar tr:first-of-type td{
  text-align: center;
  background-color: #f8f8f8;
  padding:8px;
}

.calendar a{
  text-decoration: none;
}