hr {
  display: none
}

/*---------------------------faqsForm------------------------------*/

.faq h2 .faq-header {
  font-size: 0.8em;
  color: rgb(102, 102, 102);
}

/*-------------------History---------------------*/

/*---------------controlpanel-------------------*/
.dashboard {
  width: 100%;
}

.dashboard thead > tr:nth-child(1) .portlet-table-header {
  background-color: #fafafa;
}

.dashboard thead > tr:nth-child(2) .portlet-table-header {
  background-color: #d1d7da;
  padding: 15px 30px 15px 0;
}

.dashboard thead .column-header .column-label{
  color:#4d4d4d;
  font-weight: normal;
}

.dashboard.edit-columns thead > tr:nth-child(2) .portlet-table-header {
  background-color: white;
}

.dashboard.edit-columns .move-columns {
  display: flex;
  justify-content: space-between;
}

.dashboard.edit-columns .move-columns > span {
  display: block;
  padding: 5px 0px;
}

.dashboard.edit-columns .move-columns .fas {
  font-size: 2.1em;
  padding: 8px 8px 8px 0;
  color: #10a3ea;
}

.dashboard.edit-columns .move-columns > span:hover .fas {
  color: #0f81ba;
}

.dashboard.edit-columns .fa-trash-alt {
  color: #9d9d9d;
}

.dashboard.edit-columns .fa-trash-alt:hover {
  color: red;
}

.dashboard.edit-columns > tbody > tr {
  opacity: 0.6;
}

.dashboard.edit-columns .cursor {
  cursor: default;
}

.dashboard.header-wrapper thead > tr .portlet-section-text,
.dashboard .column-header .portlet-section-text {
  color: #0a0a0a;
}

.dashboard .portlet-table-text {
  vertical-align: inherit;
}

.dashboard .column-header {
  display: flex;
  align-items: center;

}

.dashboard .column-header .portlet-section-text {
  font-family: Roboto;
  font-size: 1.1em;
  padding-right: 5px;
}

.dashboard .column-header .not-selected  i{
  visibility: hidden;
}
.dashboard .column-header .fa-sort-amount-up,
.dashboard .column-header .fa-sort-amount-down,
.dashboard .column-header .fa-sort-alpha-up,
.dashboard .column-header .fa-sort-alpha-down,
.dashboard .column-header .fa-sort-numeric-up,
.dashboard .column-header .fa-sort-numeric-down
{
  font-size: 1.3em;
  color: #0f81ba;
  margin-left:0.5rem;
}


.dashboard .column-header .sort-column.fa-sort-alpha-up,
.dashboard .column-header .sort-column .fa-sort-alpha-down,
.dashboard .column-header .sort-column.fa-sort-numeric-up,
.dashboard .column-header .sort-column .fa-sort-numeric-down,
.dashboard .column-header .selected:hover .fa-sort-alpha-up,
.dashboard .column-header .selected:hover .fa-sort-alpha-down,
.dashboard .column-header .selected:hover .fa-sort-numeric-up,
.dashboard .column-header .selected:hover .fa-sort-numeric-down
{
  color: #8d8d8d;
}

.dashboard .column-header .fa-sort
{
  font-size: 1.6em;
  color: #8d8d8d;
}

.dashboard .column-header .fa-sort:hover {
  color: rgb(117, 117, 117);
}

.dashboard .column-header {
  display: flex;

}

.dashboard .actionsCell {
  width: 60px;
}

.dashboard tbody .oddRow td > span,
.dashboard tbody .evenRow td > span {
  display: inline-block;
  padding: 15px 8px 15px 0;
  color: #4d4d4d;
}

.dashboard .evenRow {
  background-color: #efefef;
}

.dashboard tbody .portlet-table-selected {
  font-family: inherit;
  background-color: #BBBBBB;
}

.dashboard tbody tr:hover td span {
  color: #1093d3;
}

.dashboard.edit-columns tbody tr:hover td span {
  color: #4d4d4d;
}

.controlPanel .dashboard tbody tr:hover td:first-of-type span {
  color: inherit;
}

.dashboard .ticketControlPanel-item-actions,
.dashboard .actions-wrapper {
  position: relative;
}

.dashboard .ticketControlPanel-item-actions .fa-cog {
  font-size: 1.5em;
  color: #b5b5b5;
  padding: 0 15px 0 10px;
}

.dashboard .ticketControlPanel-item-actions .fa-cog.bookmarked {
  color: #f1ce46;
}

.dashboard .actions-header-wrapper .fa-cog {
  font-size: 1.5em;
  color: #1093d3;
  padding: 0 15px 0 7px;
  cursor: pointer;
}

.dashboard.edit-columns .actions-header-wrapper .fa-cog {
  display: none;
}

.dashboard .actions-header-wrapper .fa-cog:hover {
  color: #0f81ba;
}

.dashboard .ticketControlPanel-item-actions .fa-cog:hover {
  color: rgb(117, 117, 117);
}

.dashboard .ticketControlPanel-item-actions-wrapper,
.dashboard .actions-list-wrapper,
.bookmarks .actions-list-wrapper {
  min-height: 30px;
  padding: 0;
  position: absolute;
  background-color: #ffffff;
  margin-left: -1px;
  margin-top: 0px;
  border: 1px #b5b5b5 solid;
  text-align: left;
  box-shadow: 3px 3px 6px #aaa;
  z-index: 10;
  width: 160px;
  left: 8px;
  font-weight: normal;
}

.dashboard .actions-list-wrapper,
.bookmarks .actions-list-wrapper {
  width: 180px;
}

.dashboard .ticketControlPanel-item-actions-wrapper > span,
.dashboard .actions-list-wrapper > input,
.bookmarks .actions-list-wrapper > input {
  display: block;
  position: relative;
  color: #979797;
  padding: 7px 5px 8px 8px;
  font-size: 0.9em;
}

.dashboard .actions-list-wrapper > input,
.bookmarks .actions-list-wrapper > input {
  background: none;
  width: 100%;
  border: none;
  text-align: left;
  color: #5e5e5e;
  font-family: Verdana;
  font-weight: normal;
}

.dashboard .ticketControlPanel-item-actions-wrapper > span:hover,
.dashboard .actions-list-wrapper > input:hover,
.bookmarks .actions-list-wrapper > input:hover {
  background-color: #e0e0e0;
}

.dashboard-toggle .fa-toggle-on,
.dashboard-toggle .fa-toggle-off {
  color: #1093d3;
  font-size: 2.2em;
  padding-right: 20px;
}

.dashboard-toggle .fa-toggle-on:hover,
.dashboard-toggle .fa-toggle-off:hover {
  color: #0f81ba;
}

.dashboard tbody td.ticket-closed > span {
  color: #a3a3a3;
}

.dashboard .ticketControlPanel-item-level.very-high-priority > div,
.dashboard .ticketControlPanel-item-level.high-priority > div {
  width: 100%;
  height: 100%;
}

.dashboard .ticket-status.ticket-postponed {
  color: #ffffff;
  background-color: #999999;
  border-radius: 4px;
  padding: 4px;
}

.dashboard .ticket-priority.ticket-open.priority5 {
  color: #ffffff;
  background-color: #FF0000;
  border-radius: 4px;
  padding: 4px;
}

.dashboard .ticket-priority.ticket-open.priority4 {
  color: #ffffff;
  background-color: #ffa22c;
  border-radius: 4px;
  padding: 4px;
}
.dashboard-filter .add-ticket-btn {
    margin-left: auto
}
.controlPanel-title {
  display: flex;
  align-items: center;

  padding-left: 10px;

}

.controlPanel-title h1 {
  margin: 10px 0;
}

.controlPanel-title h1 > span {
  display: inline-block;
  padding-right: 10px;

}

.controlPanel-title h1 > span:nth-child(1) {
  text-transform: uppercase;

}

.controlPanel-title h1 > span:nth-child(2) {
  font-weight: normal;
  font-size: 1em;
}

.dashboard-header-wrapper {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-header-wrapper .items-count .portlet-section-text {
  font-weight: normal;
  color: rgb(102, 102, 102);
  padding: 4px;
}

.dashboard.edit-columns thead {

  box-shadow: 3px 3px 6px #aaa;
}

.dashboard.edit-columns thead tr:nth-child(1) th {
  background-color: #c3d9e0;
}

.dashboard.edit-columns .dashboard-header-wrapper .items-count {
  display: none;
}

.dashboard-header-wrapper .edit-columns input[type='submit'],
.dashboard-header-wrapper .quit-edit-columns input[type='submit'] {
  margin: 10px;
  padding: 8px;
  background-color: white;
  border: solid 1px #7e7e7e;
  cursor: pointer;
  color: #666;
  font-family: Verdana, Arial;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 4px;
}

.dashboard.edit-columns .manage-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}

.dashboard.edit-columns .reset-columns span {
  display: inline-block;
  color: #666;
  border: solid 1px #7e7e7e;
  padding: 8px;
  background-color: white;
  font-weight: normal;
  margin-left: 20px;
  border-radius: 4px;
}

.dashboard.edit-columns .manage-columns .actions {
  display: flex;
}

.dashboard.edit-columns .manage-columns .add-column {
  margin-left: 20px;
}

.dashboard.edit-columns .manage-columns .add-column select {
  height: 34px;
}

.dashboard-paginator {
  min-height: 30px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.dashboard-paginator .fas {
  font-size: 2.2em;
  padding: 2px 10px;
  color: #878787;
}

.dashboard-paginator .fas:hover {
  background-color: #dddddd;
  border-radius: 3px;
}

.dashboard-paginator a {
  display: inline-block;
  margin: 0 4px;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(102, 102, 102);
}

.dashboard-paginator a:hover {
  background-color: #dddddd;
  border-radius: 3px;
}

.dashboard-paginator .current-page {
  font-size: 1.3em;
  margin: 0 6px;
  padding: 6px 10px;
  display: inline-block;
  color: white;
  background-color: #1093d3;
  border-radius: 3px;
}

.navigation #navigationForm {
    display: flex;
    flex-direction: row;
}
.navigation .manager {
    margin-right: 1em;
    top: 16em;
    position: relative;
}
.navigation .user {
    margin-right: 1em;
    top: 7em;
    position: relative;
}

.navigation.close {
  flex-basis: inherit;
}
.content.fullSize {
  flex-basis: 100%;
}
.returnPanel {
	margin-left : 10em!important;
}
.button-right {
    float: right;
    margin-top: 20px;	
}
}