/* ------------------------------------ *\
  CONTENTS
\* ------------------------------------ */
/**
 * CONTENTS............You’re reading it!
 */


.navigation .portlet-menu {
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation .portlet-menu-item,
.navigation portlet-menu-item-selected {
  width: 100%;
  display: block;
}

.navigation .portlet-menu-item input,
.navigation .portlet-menu-item-selected input {
  width: 100%;
  margin: 2px 0;
  padding: 6px;
  font-size: 1em;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #4d4d4d;
}

.navigation .portlet-menu-item-selected input {
  color: rgb(15, 147, 211);
}

.navigation .portlet-menu .moreItems {
  text-align: center;
  font-size: 2em;
  color: #b0b1b0;
}

.tickets-navigation{
  display: flex;
}

.tickets-navigation .nav-item{
  padding:0px 8px;
margin:10px 0;
}

.tickets-navigation .nav-item i{
  font-size: 2.2rem;
}

.tickets-navigation .nav-item i.active{
  cursor: pointer;
}

.form-goto-ticket{
  display: flex;
  align-items: center;
}

.form-goto-ticket .form-item:first-of-type{
  margin:0 15px 0 30px;
}

.form-goto-ticket input[type='text']{
   color: #B5B5B5;
 }

.form-goto-ticket input[type='text']:focus{
  color: #666666;
}

