<?xml version="1.0"?>

<!-- 
	/webapp/WEB-INF/web.xml
	The main configuration file of the application.
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>esup-helpdesk</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>esup-helpdesk</param-value>
	</context-param>

<!--
	============================================================== 
	LOGGING
	============================================================== 
-->

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

<!--
	============================================================== 
	SPRING
	============================================================== 
-->

	<context-param>
		<description>
			The location of the main configuration file of the Spring framework.
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/properties/applicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

<!--
	============================================================== 
	JSF
	============================================================== 
-->

	<context-param>
		<description>
			The location of the main configuration file of the JSF framework.
		</description>
		<param-name>javax.faces.CONFIG_FILES</param-name>
 		<param-value>
			/WEB-INF/jsf/commons-render-kit.xml,/WEB-INF/jsf/navigation-rules.xml,/WEB-INF/jsf/application.xml,/WEB-INF/jsf/fck-faces-config.xml,/WEB-INF/jsf/chartcreator-faces-config.xml,/WEB-INF/jsf/commons-pattern-faces-config.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>org.fckfaces.CUSTOM_CONFIGURATIONS_PATH</param-name>
		<param-value>/media/FCKeditor/custom-fckconfig.js</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ADD_RESOURCE_CLASS</param-name>
		<param-value>org.apache.myfaces.renderkit.html.util.DefaultAddResource</param-value>
	</context-param>

<!--
	============================================================== 
	CHART CREATOR 
	============================================================== 
-->

<!--BEGIN-SERVLET-ONLY-->
	<context-param>
		<param-name>net.sf.jsfcomp.chartcreator.USE_CHARTLET</param-name>
		<param-value>true</param-value>
	</context-param>
<!--END-SERVLET-ONLY-->
<!--BEGIN-PORTLET-ONLY-->
	<context-param>
		<param-name>net.sf.jsfcomp.chartcreator.USE_CHARTLET</param-name>
		<param-value>false</param-value>
	</context-param>
<!--END-PORTLET-ONLY-->

	<servlet>
		<servlet-name>Chartlet</servlet-name>
		<servlet-class>
			net.sf.jsfcomp.chartcreator.Chartlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chartlet</servlet-name>
		<url-pattern>*.chart</url-pattern>
	</servlet-mapping>

<!--
	============================================================== 
	TOMAHAWK EXTENSIONS 
	============================================================== 
-->

<!--BEGIN-SERVLET-ONLY-->
	<context-param>
		<param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
		<param-value>true</param-value>
	</context-param>
<!--END-SERVLET-ONLY-->
<!--BEGIN-PORTLET-ONLY-->
	<context-param>
		<param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
		<param-value>false</param-value>
	</context-param>
<!--END-PORTLET-ONLY-->

	<filter>
		<description>
			This filter is needed to use some Tomahawk extentions.
		</description>
		<display-name>MyFacesExtensionsFilter</display-name>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<description>
				The maximum size of uploaded files.
			</description>
			<param-name>maxFileSize</param-name>
			<param-value>20m</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
	    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

<!--
	============================================================== 
	CAS AUTHENTICATION
	============================================================== 
-->

<!--BEGIN-SERVLET-ONLY-->
	<filter>
		<description>
			The CAS filter, used to authenticate users.
		</description>
		<display-name>CASFilter</display-name>
		<filter-name>CAS Filter</filter-name>
		<filter-class>
			edu.yale.its.tp.cas.client.filter.CASFilter
		</filter-class>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.loginUrl
			</param-name>
			<param-value>
				https://sso-castest.univ-rennes1.fr/login
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.validateUrl
			</param-name>
			<param-value>
				https://sso-castest.univ-rennes1.fr/serviceValidate
				<!-- ${cas.url}/serviceValidate -->
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.serverName
			</param-name>
			<param-value>mr185033.cri.univ-rennes1.fr:8080</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.wrapRequest
			</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/stylesheets/cas.faces</url-pattern>
	</filter-mapping>
<!--END-SERVLET-ONLY-->

<!--
	============================================================== 
	MAIN
	============================================================== 
-->

	<servlet>
		<description>
			The JSF servlet used with no redirector (for the information page).
		</description>
		<display-name>Faces Servlet with no redirector</display-name>
		<servlet-name>Faces Servlet with no redirector</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.FacesServlet
		</servlet-class>
		<init-param>
			<param-name>default-view</param-name>
			<param-value>/stylesheets/welcome.faces</param-value>
		</init-param>
		<init-param>
			<param-name>use-redirector</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet with no redirector</servlet-name>
		<url-pattern>/stylesheets/info.faces</url-pattern>
	</servlet-mapping>

<!--BEGIN-SERVLET-ONLY-->
	<servlet>
		<description>
			The main servlet of the application. This class inherits from 
			the MyFaces implementation and handles exceptions thrown for
			specific exception handling.
		</description>
		<display-name>Faces Servlet</display-name>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.FacesServlet
		</servlet-class>
		<init-param>
			<param-name>default-view</param-name>
			<param-value>/stylesheets/welcome.faces</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
<!--END-SERVLET-ONLY-->
<!--BEGIN-PORTLET-ONLY-->
<!-- 	<servlet> 
		<servlet-name>esup-helpdesk</servlet-name>
		<servlet-class>
			org.apache.pluto.core.PortletServlet
		</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.apache.portals.bridges.portletfilter.FilterPortlet
			</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>esup-helpdesk.esup-helpdesk</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>esup-helpdesk</servlet-name>
		<url-pattern>/esup-helpdesk/*</url-pattern>
	</servlet-mapping> -->
<!--END-PORTLET-ONLY-->

<!--
	============================================================== 
	DOWNLOAD
	============================================================== 
-->

	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>${encoding}</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

<!--
	============================================================== 
	ICONS
	============================================================== 
-->

	<servlet>
		<servlet-name>Icon Servlet</servlet-name>
		<servlet-class>
			org.esupportail.helpdesk.web.servlet.IconServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Icon Servlet</servlet-name>
		<url-pattern>/icon</url-pattern>
	</servlet-mapping>

<!--
	============================================================== 
	WEB SERVICES
	============================================================== 
-->

	<servlet>
		<servlet-name>xfire</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.XFireServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xfire</servlet-name>
		<url-pattern>/xfire/*</url-pattern>
	</servlet-mapping>

<!--
	============================================================== 
	VERSION
	============================================================== 
-->

	<servlet>
		<servlet-name>version</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.VersionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>version</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>

<!--BEGIN-SERVLET-ONLY-->
    <session-config>
    	<session-timeout>60</session-timeout>
<!--     	<session-timeout>${sessionTimeout}</session-timeout> -->
    </session-config>
<!--END-SERVLET-ONLY-->
 
</web-app>
