body,a,p,h1,h2,td,th,li,address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body,p,td,th,li {
	font-size: 12px;
	color: Black;
}

a {
	text-decoration : none;
	color : #192A89;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
	color : #192A89;
}

a:hover {
	color : #FF6600;
	text-decoration: underline;
}	
	
h1 {
	font-size: 16px;
	color: #192A89;
	font-weight: bold;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	color: #192A89;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	color: #192A89;
	text-decoration: italic;
}

address {
	color: #192A89;
	font-size: 10px;
}

th {
	background-color: #b7ddb4;
}

th,td {
	padding-left: 0.5em; 
	padding-right: 0.5em;
}

.table-odd {
	background-color: #FFFFFF;
}

.table-even {
	background-color: #e8f2fe;
}

.table-selected {
	background-color: #FFCCCC;
}

.actionApplication {
	border-left-style:solid;
	border-left-color:grey;
}

.actionManager {
	border-left-style:solid;
	border-left-color:red;
}

.actionOwner {
	border-left-style:solid;
	border-left-color:orange;
}

.actionInvited {
	border-left-style:solid;
	border-left-color:blue;
}

.actionUser {
	border-left-style:solid;
	border-left-color:green;
}

.priority1 {
	color: #0080ff;
}

.priority2 {
	color: #004080;
}

.priority3 {
	color: #008080;
}

.priority4 {
	color: #ff8040;
}

.priority5 {
	color: #ff0000;
}


