<?xml version="1.0" encoding="UTF-8" ?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	>

	<!-- 
		/properties/applicationContext.file}
		The main Spring configuration file.
		This file should not be modified but by the developers.
		This file is referenced by /webapp/WEB-INF/web.file}.
	-->
		
	<import resource="classpath*:properties/config/properties.xml"/>
	<bean name="bootstrap" class="org.esupportail.helpdesk.support.spring.context.SpringWebContextBootstrapper">
	    <property name="configLocations">
	        <list>
				<!-- repeat this here if you would use the property placeholders again -->
	            <value>classpath*:properties/config/properties.xml</value>
	        </list>
	    </property>
	</bean>
	
	<!-- and this is a modified content from one of our live applications -->
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${auth.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${dao.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${cache.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${archiving.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${recall.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${reporting.file}</value>
	        </list>
	    </property>
	</bean>	

	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${assignment.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${computerUrl.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${expiration.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${categoryConfiguration.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${departmentConfiguration.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${departmentManagerConfiguration.file}</value>
	        </list>
	    </property>
	</bean>	
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${departmentSelection.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${userInfo.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${userManagement.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${userManagement-specific.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${indexing.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${domain.file}</value>
	        </list>
	    </property>
	</bean>	

	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${feed.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${statistics.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${deepLinking.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${exceptionHandling.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${export.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${i18n.file}</value>
	        </list>
	    </property>
	</bean>

	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${ldap.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${abstractBeans.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${application.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${portal.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${smtp.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${init.file}</value>
	        </list>
	    </property>
	</bean>	

	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${tags.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${urlGeneration.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${controllers.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${converters.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${helpers.file}</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.esupportail.helpdesk.support.spring.context.ConfigLocationProviderImpl">
	    <property name="configLocations">
	        <list>
	            <value>${monitoring.file}</value>
	        </list>
	    </property>
	</bean>
	
</beans>