<?xml version="1.0" encoding="UTF-8" ?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	>

	<!-- 
		/properties/applicationContext.xml
		The main Spring configuration file.
		This file should not be modified but by the developers.
		This file is referenced by /webapp/WEB-INF/web.xml.
	-->

	<bean 
		id="requestCacheBean" 
		class="org.esupportail.commons.aop.cache.RequestCachingMethodInterceptor" />
	<bean 
		id="sessionCacheBean" 
		class="org.esupportail.commons.aop.cache.SessionCachingMethodInterceptor" />

    <aop:aspectj-autoproxy proxy-target-class="true" />

	<bean id="propertyConfigurer" 
	    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  <property name="locations" > 
	      <list>
	      	<value>classpath:/properties/defaults.properties</value>
	      	<value>classpath:/properties/defaults-servlet.properties</value>
<!-- 	      	<value>classpath:/properties/defaults-${deploy.type}.properties</value> -->
             <value>file:${config.location}</value>
	      </list>
	  </property>	  
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<import resource="classpath*:properties/auth/auth.xml" />
	<import resource="classpath*:properties/cache/cache.xml" />
	<import resource="classpath*:properties/dao/dao.xml" />
 	<import resource="classpath*:properties/domain/archiving.xml" />
 	<import resource="classpath*:properties/domain/recall.xml" />
 	<import resource="classpath*:properties/domain/reporting.xml" />
 	<import resource="classpath*:properties/domain/assignment.xml" />
 	<import resource="classpath*:properties/domain/computerUrl.xml" />
 	<import resource="classpath*:properties/domain/expiration.xml" />
 	<import resource="classpath*:properties/domain/categoryConfiguration.xml" />
 	<import resource="classpath*:properties/domain/departmentConfiguration.xml" />
 	<import resource="classpath*:properties/domain/departmentManagerConfiguration.xml" />
 	<import resource="classpath*:properties/domain/departmentSelection.xml" />
 	<import resource="classpath*:properties/domain/userInfo.xml" />
 	<import resource="classpath*:properties/domain/userManagement.xml" />
 	<import resource="classpath*:properties/domain/userManagement-specific.xml" />
 	<import resource="classpath*:properties/domain/indexing.xml" />
 	<import resource="classpath*:properties/domain/domain.xml" />
 	<import resource="classpath*:properties/domain/feed.xml" />
 	<import resource="classpath*:properties/domain/statistics.xml" />
 	<import resource="classpath*:properties/deepLinking/deepLinking.xml" />
	<import resource="classpath*:properties/exceptionHandling/exceptionHandling.xml" />
	<import resource="classpath*:properties/export/export.xml" />
	<import resource="classpath*:properties/i18n/i18n.xml" />
	<import resource="classpath*:properties/ldap/ldap.xml" />
	<import resource="classpath*:properties/misc/abstractBeans.xml" />
	<import resource="classpath*:properties/misc/application.xml" />
	<import resource="classpath*:properties/portal/portal.xml" />
	<import resource="classpath*:properties/smtp/smtp.xml" />
	<import resource="classpath*:properties/init/init.xml" />
	<import resource="classpath*:properties/tags/tags.xml" />
	<import resource="classpath*:properties/urlGeneration/urlGeneration.xml" />
	<import resource="classpath*:properties/web/controllers.xml" />
	<import resource="classpath*:properties/web/converters.xml" />
	<import resource="classpath*:properties/web/helpers.xml" />
<!-- 	<import resource="devel/monitoring.xml" /> -->
	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml" /> 

</beans>
