* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: verdana;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility \9;
}

article,
aside,
main,
footer,
header,
nav,
section {
  display: block;
}

.content h1,
.content h1 > span,
.content h2,
.content h2 > span {
  font-family: Roboto;
  color: #666666;
  font-weight: normal;
}

.content h1 .title {
  text-transform: uppercase;
}

.content h1 .subtitle,
.content h2 .subtitle {
  color: #1093d3;
}

.content h1,
.content h1 > span {
  font-size: 1.6rem;
}

.content h2,
.content h2 > span {
  font-size: 1.45rem;
}

.cursor--pointer {
  cursor: pointer;
}

.link,
.link .portlet-section-text,
a {
  color: #1093d3;
  cursor: pointer;
  display: inline-block;
  border-bottom: dotted 1px transparent;
}

.link:hover,
a:hover {
  border-bottom: dotted 1px #1093d3;

}

.hideme,
.form-item span.hideme,
.form-item span.button--tertiary.hideme,
.form-item span.button--secondary.hideme,
.action-scope-edit.link.hideme,
.form-item label.hideme,
.view-ticket_history .action--header .action--content.hideme {
  display: none;
}

.highligh {
  display: inline-block;
  background-color: yellow;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.fas, .far {
  color: #aeafae;
}

.far.fa-2x,
.fas.fa-2x {
  font-size: 1.8rem;
}

.fas.active, .far.active {
  color: #1093d3;
}

.fas.active:hover, .far.active:hover {
  color: #0f81ba;
}

.fa-trash-alt{
  cursor: pointer;
}
.fa-trash-alt:hover {
  color: #ff0000;
}

.fa-chevron-down {
  color: #1093d3;
}
.fa-chevron-up {
  color: #1093d3;
}
.fa-chevron-left {
  color: #1093d3;
}
.fa-chevron-right {
  color: #1093d3;
}

.redirect.fa-arrow-alt-circle-right{
  color: #1093d3;
  padding:0 5px;
}

.redirect.fa-arrow-alt-circle-left{
  color: #11990b;
  padding:0 5px;
  display: inline;
}

/* ------------------------------------ *\
  ==message
\* ------------------------------------ */
.message {
  margin-top: 6px;
  background-color: #dedede;
}

.message li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message ul {
  margin: 0;
  padding: 0;
}

.message .portlet-msg-error,
.message .portlet-msg-info,
.message .portlet-msg-alert {
  width: 100%;
  display: block;
  background: none;
  padding: 10px;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Roboto;
}

/* ------------------------------------ *\
  ==tooltip
\* ------------------------------------ */

.tooltip {
  color: #666666;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 200px;
  background-color: #F3F3F3;
  color: #666666;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.85rem;
  display: block;
  font-weight: normal;
  box-shadow: 3px 3px 6px #aaa;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* ------------------------------------ *\
  ==entriesNumber invités - fichiers
\* ------------------------------------ */

.entriesNumber{

  background-color:#8e8e8e ;
  color: #ffffff;
  text-align:center;
  border:1px solid #8e8e8e;
  border-radius: 50%;
  display: inline-block;
  width:22px;
  height: 22px;
  line-height: 19px;
}
/*------------------------------------*\
  ==@media only screen and (min-width: 1025px)
\*------------------------------------*/
@media only screen and (min-width: 1025px) {
  html {
    font-size: 90%;
  }
}

/*------------------------------------*\
  == @media only screen  and (max-width: 1025px)
\*------------------------------------*/
@media only screen and (max-width: 1025px) {
  html {
    font-size: 100%;
  }
}