/*  Web Services for Remote Portlets Specification v1.0 - July 02 2003  =
*/

/*####  Section 10.6 CSS Style Definitions  #####*/

.column {
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
}

.colLeft {
	text-align: left;
	vertical-align: top;
}

.colRight {
	text-align: right;
	vertical-align: top;
}

.colCenter {
	text-align: center;
	vertical-align: top;
}

.colLeftNowrap {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
/*	padding: 3 1 0 1;*/
}

.colRightNowrap {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.colCenterNowrap {
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
}

.colLeftMax {
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.colRightMax {
	text-align: right;
	vertical-align: top;
	width: 100%;
}

.colLeftMaxNowrap {
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	width: 100%;
}

.colRightMaxNowrap {
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	width: 100%;
}

.headerImage {
	 float: left;
	 border: 0;
}

.form-submit-popup {
	font-size: 24px;
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: hidden;
	left: 0;
	top: 40%;
	position: absolute;
 	width:100%;
	text-align: center;
}
