	/*##  Section 10.6.1 Links (Anchor) - defined by uPortal CSS  ##*/
	
	/*##  Section 10.6.2 Fonts  ##*/
	
a {
	text-decoration : none;
	font-size: 12px;
	color : #192A89;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
	color : #192A89;
}

a:hover {
	color : #FF6600;
	text-decoration: underline;
}	
	
.portlet-font {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}  /*  uPortal equivalent style =3D  "uportal-text "  */

.portlet-font-dim {
	color: Gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

	/*##  Section 10.6.3 Messages  ##*/
	
.portlet-msg-status {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
}  /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-info {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}  /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-error {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " uportal-channel-error"  */

.portlet-msg-alert {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #993333;
}  /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-success {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #339933;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

	/*##  Section 10.6.4 Sections ##*/
.portlet-section-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #192A89;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " uportal-channel-title"  */

.portlet-section-body {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " uportal-text"  */

.portlet-section-alternate {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
} /*  uPortal equivalent style =3D  " uportal-channel-table-row-odd"  */

.portlet-section-selected {
	background: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: White;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-section-subheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #192A89;
}  /*  uPortal equivalent style =3D  " uportal-channel-subtitle"  */

.portlet-section-footer {
	color: #192A89;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:center;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-section-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
}  /*  uPortal equivalent style =3D  "uportal-text-small "  */

.portlet-section-text-bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	font-weight: bold;
}

/*##  Section 10.6.5 Tables ##*/
.portlet-table-header {
	background-color: #b7ddb4;
	color: #993333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	width: auto;
	padding-left: 0.5em; 
	padding-right: 0.5em;
}/*  uPortal equivalent style =3D  " uportal-channel-table-header with =
class uportal-background-light"  */

.portlet-table-body {
	background-color: #FFFFFF;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " uportal-channel-table-row-even =
with class uportal-background-content"  */

.portlet-table-alternate {
	vertical-align: top;
	background-color: #e8f2fe;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}/*  uPortal equivalent style =3D  " uportal-channel-table-row-odd with =
class uportal-background-light"  */

.portlet-table-selected {
	background-color: #FFCCCC;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " uportal-channel-table-row-even =
with class uportal-background-selected"  */

.portlet-table-subheader {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-table-footer {
	background: #FEC98D;
	background-color: #b7ddb4;
	color: #993333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-table-text {
	vertical-align: top;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-table-text-bold {
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*##  Section 10.6.5 Tables ##*/
.portlet-form-label {
	width: 10em;
	text-align: right;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " uportal-label"  */

.portlet-form-input-field {
	width: auto;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #ecf6ed;
}  /*  uPortal equivalent style =3D  " uportal-input-text"  */

.portlet-form-button {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #FDEFEF;
}  /*  uPortal equivalent style =3D  "uportal-button "  */

.portlet-icon-label {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #CCCC99;
}  /*  uPortal equivalent style =3D  " uportal-button"  */

.portlet-dlg-icon-label {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #CCCC99;
}  /*  uPortal equivalent style =3D  " uportal-button"  */

.portlet-form-field-label {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " uportal-label"  */

.portlet-form-field {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

	/*##  Section 10.6.7 Menus ##*/
.portlet-menu {
	/*background: #b7ddb4;*/
	background-image: url("../media/images/banner.jpg");
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align : bottom;

}  /*  uPortal equivalent style =3D  " no current equivalent"  */
.portlet-menu-item {
	display: inline;
	border-spacing: 0;
	color: #192A89;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */


.portlet-menu-item input {
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	color: #192A89;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	border-style : none;
	cursor: pointer;
}

.portlet-menu-item a {
	
	display: table-cell;
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	text-decoration: none;
	color: #993333;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.portlet-menu-item a:hover {
	
}

.portlet-menu-item-selected {
	display: inline;
	border-spacing: 2px 0;
}
.portlet-menu-item-selected input {
	
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	background: transparent;
	border-style : none;
	cursor: pointer;

}
.portlet-menu-item-selected a{
	display: table-cell;
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
}

.portlet-menu-item-hover {
	background: #666633;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-item-hover-selected {
	background: #666633;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-cascade-item {
	background: #CCCC99;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-cascade-item-selected {
	background: #666633;
	color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-description {
	background: #CCCC99;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-caption {
	background: #CCCC99;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}  /*  uPortal equivalent style =3D  " no current equivalent"  */
