/* ------------------------------------ *\
  CONTENTS
\* ------------------------------------ */
/**
 * CONTENTS............You’re reading it!
 * ticketAdd.faces...............
 */

/* ------------------------------------ *\
  ==ticketAdd.faces
\* ------------------------------------ */

.category_choice .treeview img {
  display: none;
}

.category_choice .treeview td {
  background: none;
}

.department.leaf,
.category.leaf {
  cursor: pointer;
  display: inline-block;
}

.category_choice .treeview > span > table {
  width: 100%;
  border-bottom: solid #bebec7 1px;
  background-color: #ededf0;
}

.category_choice .treeview > span > table:hover {
  background-color: #f7f7f9;
}

.category_choice .treeview table {
  background-color: rgb(250, 250, 250);
  width: 100%;
}

.department.leaf {
  font-size: 1.12rem;
  color: #666666;
  padding: 10px 1px;
  width: 100%;
}

.department.leaf:hover .portlet-section-text,
.category.leaf:hover .portlet-section-text,
.leaf.expanded .portlet-section-text {
  color: #1093d3;
}

.leaf.collapsed .portlet-section-text {
  color: inherit;
}

.category.leaf {
  padding: 7px 3px;
  font-size: 1.15em;
  color: #666666;
}

.leaf .portlet-section-text {
  font-family: Roboto;
}

.extra-cell {
  width: 2%;
  color: #1093d3;
  font-size: 1.8em;
  padding-right: 20px;
}

.treeview .form-item table span {
  font-size: 1.1rem;
  display: inline-block;

}

.treeview.basic-style .leaf-active
{
  color: #1093d3;
}

.treeview.basic-style .leaf {
  padding: 0 0 3px 3px;
}

.treeview.basic-style .leaf-active:hover {
  color: #0f81ba;
}